body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width:767px) {
  .blog-image {
    height: 600px;
    width: 100%;
  }
}

section {
  background-color: white;
}

section:nth-child(odd) {
  background-color: #f5f6f9;
}

.program-list {
  margin: 0 2.2% 31px 0;
  position: relative;
  -ms-flex-preferred-size: 31.85%;
  flex-basis: 31.85%;
}

.program-list:nth-child(3n) { margin-right: 0; }

.program-list-figure {
  width: 100%;
  max-height: 290px;
}

.program-cat-image {
  min-height: 290px;
  max-height: 290px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}